<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>logs</key>
	<string>YES</string>
	<key>Ckey</key>
	<string></string>
	<key>user_id</key>
	<string></string>
	<key>brach_id</key>
	<string></string>
	<key>api-version</key>
	<string></string>
	<key>connection-timeout</key>
	<integer></integer>
	<key>connection-readtimeout</key>
	<integer></integer>
	<key>endpoint</key>
	<string></string>
	<key>port</key>
	<string></string>
</dict>
</plist>
